.homepage__card {
    display: flex;
    flex-direction: column;
    outline: 3px solid var(--main-font-color);
    background-color: var(--homepage-card-background-color);
    padding: 30px;
    color: var(--main-font-color);
}

.homepage__title {
    font-size: 3rem;
    text-align: center;
}

.homepage__description {
    font-size: 1.0625rem;
    margin: -5px;
}

.homepage__recipe-list {
    margin: 40px;
    font-size: 1rem;
}