.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 3px solid var(--main-font-color);
    background-color: var(--homepage-card-background-color);
    padding: 25px;
    margin: 100px;
    color: var(--main-font-color);
}

.card__title {
    font-size: 3rem;
    text-align: center;
    margin: -1px;
}

.card__return-link {
    font-size: 0.9rem;
    margin: 10px;
}

.card__image {
    max-width: 400px;
    max-height: 500px;
    padding: 5px;
}

.card__description {
    align-items: center;
}

.card__description-title {
    text-align: center;
}

.card__description-text {
    margin: -1px;
}

.card__ingredients {
    align-items: center;
}

.card__ingredients-title {
    text-align: center;
}

.card__ingredients-list {
    width: 75%;
    margin: -5px;
}

.card__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__steps-title {
    text-align: center;
}

.card__steps-list {
    max-width: 30%;
    margin: -5px;
}