:root {
    --main-bg-color: #FED049;
    --main-font-color: #000000;
    --homepage-card-background-color: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

